.about-container {
  max-width: 800px;
  padding: 20px;
  margin-top: 24vh;
  margin-left: 51vw;
  }
  
  .about-container h2 {
    font-size: 8vh;
    margin-bottom: 10px;
  }
  
  .about-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #74c69d;

  }
  .font{
    color: white;
  }
  .font:hover{
    font-weight: 800;

  }
