<div class="about-container">
    <h2 class="font heading">About Me ...</h2>
    <p class="font">
      I'm a passionate web developer with experience in Angular, React, and other modern web technologies. I love building
      responsive and user-friendly web applications that solve real-world problems.
  
      In my free time, I enjoy learning new technologies, contributing to open-source projects, and exploring the latest
      trends in web development.
    </p>
    <div>
      <i class="fa-brands fa-instagram" style="margin-top: 10px;color: white;" aria-hidden="true" ngbTooltip="Click to Download CV"></i>
      <i class="fa-brands fa-instagram" style="color :white"></i>
      <a href="">
      <i class="fab fa-github" ></i>
      <i class="fa fa-download" style="margin-top: 10px;" aria-hidden="true" ngbTooltip="Click to Download CV"></i>

      </a>
    </div>
  </div>