<div class="about-container">
    <h2 class="font heading">About Me ...</h2>
    <p class="font">
      I'm a passionate web developer with experience in Angular, React, and other modern web technologies. I love building
      responsive and user-friendly web applications that solve real-world problems.
  
      In my free time, I enjoy learning new technologies, contributing to open-source projects, and exploring the latest
      trends in web development.
    </p>
    <div class="icons">
      <a href="https://www.instagram.com/_ragnarok_04/?utm_source=qr&r=nametag">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://linkedin.com/in/tanmay-sharma-a00b0119b">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://github.com/stanmay04">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>