.container{
    display: flex;
    justify-content: flex-end;
}
.card{
    background: transparent;
    width: 25vw;
    margin-top: 11vh;
}
.btn{
    background: #74c69d;
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    height: 50px;

}
.form-group{
    border-radius: 8px;
    height: 50px;
}
.form-control{
    height: 100% !important;
    background-color: #cad2c5 !important;
}