.navbar {
    /* background-color: rgba(0,0,0,0.5) !important;  */
    background-color: transparent !important; 
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #74c69d !important;
}
  /* Hover effect */
 .nav-link:hover {
    color: white ;
    font-size: larger;
    font-weight: 800;
  }
  .nav-link.active {
    color: white !important;
    font-size: larger;
    font-weight: 800;
  }
  .btn-color{
    background-color:#74c69d ;
    color: white;
    border-radius: 4px;
    border: 1px solid black;
  }
  .btn-download{
    background-color: transparent;
    border: 1px solid #74c69d;
    color: #74c69d;
  }
  @media (max-width: 992px) {
    .nav-item {
        flex-basis: 50%; /* Display 2 items per row on medium screens */
    }
}

@media (max-width: 768px) {
    .nav-item {
        flex-basis: 100%; /* Display 1 item per row on small screens */
    }
}
.navbar-nav {
  margin: auto;
}

/* Adjust margin and padding for "Let's Talk" and "Download CV" buttons */
.btn-color,
.btn-download {
  margin-top: 0;
  margin-bottom: 0;
}