.navbar {
    /* background-color: rgba(0,0,0,0.5) !important;  */
    background-color: transparent !important; 
  }

  /* Hover effect */
  .navbar-nav .nav-item .nav-link:hover {
    color: black; /* Text color on hover */
  }
  .nav-link.active {
    color: black !important; /* Change to black */
  }