/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    /* background-image: url('assets\fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg'); */
    background-image: url('assets\markus-spiske-FXFz-sW0uwo-unsplash.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%;
    width: 98%;
    min-height: 100vh;
    min-width: 96vw;
  }
  * {
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    font-style: normal !important;
  }
  @media (max-width: 768px) {
    body {
      min-height: 157vh !important;
      }
}
