/* You can add global styles to this file, and also import other style files */
body {
    background: #415a77;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
  }