
  .para{
    color: #74c69d !important;
    font-size: larger;
  }

  .heading{
    color: #fb8500;
    font-size: larger;
    margin-top: 10vh;font-size: 8vh;
  }
  .designation{
    font-size: larger;
    color: white;
  }